* {
  text-align: center;
}

.titleText {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 60px;
}

.listContactBox {
  margin: auto;
  width: 50%;
  border: 3px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Shantell Sans', cursive;
  font-size: x-large;
  background-color: aliceblue;
}

.listContactBox:hover {
  background-color: lightgray;
  transition: 0.2s;
}